.noemi-icon{
margin-left:20px;
border-radius:120px;
padding-left:20px;
vertical-align:bottom;
height:250px;
}
.noemi-name{
	margin-top:2px;
	padding-top:1px;
	margin-left:60px;
}
.ana-icon{
	margin-left:0px;
	border-radius:120px;
	padding-left:20px;
	vertical-align:bottom;
	height:250px;
}
.ana-name{
	margin-top:2px;
	padding-top:1px;
	padding-left:30px;
	margin-left:60px;
}
.jen-name{
	margin-top:2px;
	padding-top:1px;
	margin-left:50px;
}
.ronel-name{
	margin-top:2px;
	padding-top:1px;
	margin-left:60px;
}
.arlet-icon{
	border-radius:120px;
	vertical-align:bottom;
	height:250px;
}
.ronel-name{
	margin-top:2px;
	padding-top:1px;
}
	.ronel-icon{
	border-radius:120px;
	vertical-align:bottom;
	height:250px;
}
.frank-name{
	margin-top:2px;
	padding-top:1px;
	margin-left:60px;
}
.frank-icon{
	vertical-align:bottom;
	height:250px;
}
.shebert-name{
	margin-top:2px;
	padding-top:1px;
	margin-left:50px;
}
.shebert-icon{
	vertical-align:bottom;
	height:250px;
}
.gilbert-name{
	margin-top:2px;
	padding-top:1px;
	margin-left:50px;
}
.gilbert-icon{
	vertical-align:bottom;
	height:250px;
}